/* Smartphone portrait */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

header>img{
    height: 15vw;
    background: white url(./media/Logo/BShop_2.jpg);
}

header>p{
  font-size: 10vw;
  color: white;
  margin-top: -1.5vw;
}

header>nav>a>img{
  visibility: hidden;
  width: 0;
  height: 0;
  background: white url(./media/Icon/facebook.svg);
  background: white url(./media/Icon/instagram.svg);
}

header>nav{
  margin-right: -20vw;
}

/*Contenu Menu burger*/
aside{
  background-color: black;
  height: 0;
  width: 0;
  margin-left: -100%;
  transition: margin-left 0.5s;
  visibility: hidden;
}

aside>nav>img{
  height: 25vw;
  display: block;
  margin: auto;
  margin-bottom: 10vh;
  background: white url(./media/Logo/BShop_2.jpg);
}

aside>nav>ul>li{
  list-style-type: none;
}

aside>nav>ul>li>a>h2{
  color: white;
  font-size: 5vw;
  text-align: center;
}

aside>nav>ul>li>a{
  text-decoration: none;
}

aside>nav>p{
  color: white;
  font-size: 10vw;
  text-align: center;
  margin-top: 20vh;
}

aside>nav>div{
  visibility: hidden;
}

aside.visible{
  height: 100vh;
  width: 100vw;
  top: 0;
  margin-left: 0;
  position: fixed;
  visibility: visible;
}

/* Carrousel */
main>article>div {
  height: 60vw;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr auto;
}

main>article>div>img {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  background: white url(./media/Carrousel/BshopInterieur3.jpg);
  background: white url(./media/Carrousel/BShopInterieur4.jpg);
  background: white url(./media/Carrousel/BShopInterieur2.jpg); 
}

main>article>div>img.display {
  display: initial;
}

main>article>div>p {
  font-size: 10vmin;
  color: red;
  align-self: center;
  padding: 1vmin;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

main>article>div>p:hover {
  transform: scale(1.2);
}

main>article>div>p:first-of-type {
  grid-row: 1/-1;
  grid-column: 1;
}

main>article>div>p:nth-of-type(2) {
  grid-row: 1/-1;
  grid-column: 3;
}

main>article>div>div {
  grid-row: 2;
  grid-column: 1/-1;
  padding: 1vmin;
  text-align: center;
  letter-spacing: 5vw;
}

main>article>div>div>span {
  display: inline-block;
  width: 5vmin;
  height: 5vmin;
  border-radius: 100vmax;
  border: solid red 1vmin;
  transition: 0.2s;
  cursor: pointer;
  user-select: none;
}

main>article>div>div>span:hover,
main>article>div>div>span.action {
  background-color: red;
}

main>article:nth-of-type(1)>h1{
  text-align: center;
  margin: auto;
  font-size: 7vw;
}

main>article:nth-of-type(1)>p{
  text-align: center;
  margin: auto;
  font-size: 6vw;
}

/*Autre article*/
main>section>article>img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    transition: all 0.2s;
    background: white url(./media/chaussure/UnderArmousFlowFutur/UnderArmour_droite.jpg);
    background: white url(./media/chaussure/JordanInfrared/jordan_2.jpg);
    background: white url(./media/chaussure/NewBalance/new-balance.jpg);
}

main>section>article>p{
    font-size: large;
    text-align: center;
    margin: auto;
    font-size: 5vw;
}

main>section>article>h2{
  text-align: center;
  margin: auto;
  font-size: 6vw;
  transition: color 1s linear;
}

main>section>article:hover h2{
  color: rgba(255, 0, 0, 0.125);
  animation: color-change 2s linear forwards;
  }
@keyframes color-change { 
    0% {
      color: rgba(255, 0, 0, 0.250);
    }
    33% {
      color: rgba(255, 0, 0, 0.500);
    }
    66% {
      color: rgba(255, 0, 0, 0.750);
    }
    100% {
      color: rgba(255, 0, 0, 1);
    }
  }

/*main>section>article>img:hover{
  transform:scale(1.25);
  border-radius: 5vw;
  border: 0.5vw black solid;
  margin-bottom: 5vh;
}*/

/* Bas de Page */
footer{
    background-color: black;
    padding: 2vw;
}

footer>nav>div{
    display: flex;
    justify-content: space-evenly;
}

footer>p{
  margin-top: 1vh;
  color: white;
  text-align: center;
  font-size: 4vw;
} 

footer>nav>ul>li>a{
  text-decoration: none;
}

footer>div>a>img{
  background: white url(./media/Icon/facebook.svg);
  background: white url(./media/Icon/instagram.svg);
}

footer>nav>ul>li{
  list-style-type: none;
}

footer>nav>ul>li>a>h2{
  color: white;
  text-decoration: none;
  font-size: 4vw;
  text-align: center;
}

/* Smartphone paysage */
@media screen and (min-width: 480px){

  header>img{
    height: 10vw;
  }

  header>p{
    font-size: 7vw;
  }

  header>nav>a>img{
    visibility: visible;
    height: 7vw;
    width: auto;
  }

  /*Contenu Menu burger*/
  aside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
  }

  aside>nav>img{
    height: 14vw;
    grid-row: 1;
    grid-column: 1 / 2;
  }

  aside>nav>ul{
    text-decoration: none;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    align-self: center;
  }

  aside>nav>p{
    margin-top: 0;
    grid-row: 2;
    grid-column: 1 / 2;
  }

  main>article:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: auto;
  }

  main>article:nth-of-type(1)>div{
    grid-row: 1 / 4;
    grid-column: 1 / 4;
  }

  main>article:nth-of-type(1)>h1{
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    font-size: 4vw;
  }

  main>article:nth-of-type(1)>p{
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    font-size: 3vw;
  }

  main>article>div {
    height: 40vw;
  }

  section:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1vw;
  }

  main>section>article:nth-of-type(1){
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  main>section>article:nth-of-type(2){
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  main>section>article:nth-of-type(3){
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  main>section>article>p{
    font-size: 3vw;
  }

  footer>nav>ul>li>a>p{
    font-size: 5vw;
  }

  footer>p{
    font-size: 3vw;
  }

  footer>nav>div{
    height: 0;
    width: 0;
    visibility: hidden;
  }
}

/* Tablette portrait */
@media screen and (min-width: 768px){

  header>img{
    height: 8vw;
  }

  main>article:nth-of-type(1){
    display: block;
  }

  main>article>div {
    height: 45vw;
  }

  header>div>p{
    font-size: 7vw;
  }

  main>section>article>h2{
    font-size: 3.5vw;
  }

  main>section>article>p{
    font-size: 3vw;
  }


  /*Contenu Menu burger*/
  aside{
    display: block;
  }

  aside>nav>img{
    height: 8vw;
    margin: 0;
    margin-bottom: 10vh;
  }

  aside>nav>ul{
    text-decoration: none;
    align-self: center;
  }

  aside>nav>ul>li>a>p{
    font-size: 5vw;
  }

  aside>nav>p{
    margin-top: 10vh;
    font-size: 10vw;
  }

  aside.visible{
    width: 50%;
  }

  footer>nav>ul>li>a>p{
    font-size: 4vw;
  }

}

/* Tablette paysage */
@media screen and (min-width: 992px){

  aside.visible{
    width: 40%;
  }

  aside>nav>p{
    font-size: 8vw;
  }

  main>article:nth-of-type(1){
    display: grid;
  }

  main>article>div {
    height: 40vw;
  }

  section:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  main>section>article:nth-of-type(1){
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  main>section>article:nth-of-type(2){
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  main>section>article:nth-of-type(3){
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  main>section>article>p{
    font-size: 2.5vw;
  }

  main>section>article>h2{
    font-size: 3vw;
  }

}

/* Ordinateur fixe ou portable */
@media screen and (min-width: 1200px){
  /* Header */
  header, header>nav>a>img{
    height: 0;
    visibility: hidden;
  }

  aside{
    width: 20vw;
    height: 100vh;
    visibility: visible;
    margin-left: 0;
    position: fixed;
    transition: none;
  }

  aside>nav>img{
    height: 5vw;
    margin: auto;
  }

  aside>nav>ul{
    margin-top: 10vh;
  }

  aside>nav>ul>li>a>p{
    font-size: 3vw;
  }

  aside>nav>p{
    visibility: hidden;
    margin-top: 0;
  }

  aside>nav>div>a>img{
    height: 5vw;
  }

  aside>nav>div{
    display: flex;
    justify-content: space-around;
    visibility: visible;
  }

  main>article:nth-of-type(1){
    display: grid;  
    grid-template-columns: 20vw 1fr; 
    grid-template-rows: auto; 
  }

  main>article:nth-of-type(1)>div{
    grid-row: 1/2;
    grid-column: 2/5;
  }

  main>article>div {
    height: 35vw;
  }

  main>article:nth-of-type(1)>h1{
    grid-row: 2 / 3;
    grid-column: 2 / 5;
    font-size: 4vw;
  }

  main>article:nth-of-type(1)>p{
    grid-row: 4 / 5;
    grid-column: 2 / 5;
  }

  section:nth-of-type(1){
    display: grid;
    grid-template-columns: 20vw 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  main>section>article:nth-of-type(1){
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  main>section>article:nth-of-type(2){
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  main>section>article:nth-of-type(3){
    grid-row: 1 / 2;
    grid-column: 4 / 5;
  }

  footer{
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-row: auto;
  }

  footer>nav>ul{
    grid-row: 1;
    grid-column: 2/3;
  }

  footer>nav>ul>li>a>p{
    font-size: 2.5vw;
  }

  footer>p{
    grid-row: 2;
    grid-column: 2/3;
    font-size: 1.8vw;
  }
}
